[project]
name = "python-course-assignments"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "requests",
    "pandas",
    "openpyxl"
    "lxml"

    ]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
